
<style>
    .card-header {
        border-bottom: none;
    }
    .card-header button {
    position: relative;
    padding-right: 30px; /* make space for the icon */
    display: flex; /* Make the button a block element */
    width: 100%; /* Take up the full width of the card header */
    }

    .card-header button .float-right {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
    }

    .card-header button.collapsed .float-right {
    transform: translateY(-50%);
    }

    .accordion {
        width: 80%;
        margin: 1em auto; /* Add this line */
    }

    #accordion1 {
        margin-top: 2em;
    }

    .card {
        border: 1px solid #ddd; /* Add a border around each card */
        border-radius: 10px; /* Make the borders rounded */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }

    h5 {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    
    .collapse .card-body, .collapsing .card-body {
        padding-top: 1em;
    }

    </style>


<div class="accordion" id="accordion1">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>How do I RSVP?</strong>
              <i class="fas fa-chevron-down float-right ml-auto"></i>
            </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        <div class="card-body text-dark">
            <p>We're excited to share the details with you! Our official wedding invitations will be mailed out 8 weeks in advance of the wedding date, and they'll include all the information you need to RSVP.</p>
            <p><strong>Important Date:</strong> Mark your calendars for May 5th, 2025! That's when our online RSVP system will go live. Simply check back here, and you'll find a link to submit your response.</p>
            <p>We can't wait to hear back from you and share this special day together!</p>
        </div>
      </div>
    </div>
</div>
<div class="accordion">
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <strong>Where should we stay? When do we book accomodations?</strong>
          <i class="fas fa-chevron-down float-right ml-auto"></i>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="collapseFive">
      <div class="card-body text-dark">
          <p>Please book your hotel as soon as possible! We wanted to respect everyone's varied budgets, so please stay wherever you're most comfortable!</p>
          <p>We do recommend you stay within the downtown area close to the reception venue, as we will be providing charter bus services in the morning to go to the Botanical Gardens, as well as being dropped off after the ceremony near Fu's Repair Shop.</p>
          <p>We have a quick list of hotels around the area <a href="https://maps.app.goo.gl/Yjv4TLequCnFvaTm8" target="_blank">here</a></p>
      </div>
    </div>
  </div>
</div>
<div class="accordion">
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong>Is there a dress code?</strong>
            <i class="fas fa-chevron-down float-right ml-auto"></i>
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
        <div class="card-body text-dark">
            <p> <strong>We requests that guests do not wear white or red, as traditionally these colors will be worn by the bride.</strong></p>
            <p><strong>Ceremony:</strong> As the ceremony will be held outdoors we encourage relaxed clothing, but please no shorts or sneakers. We recommend flowy dresses, light fabrics, and button-down shirts and pants. Cowboy boots/hats and denim are welcome. </p>
            <p><strong>Reception:</strong> If you would like to dress more formally for the evening feel free or just wear the same clothes, whatever is most comfortable for you. </p>
        </div>
      </div>
    </div>
</div>
<div class="accordion">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Am I part of the bridal party? Do I need to prepare for that?</strong>
            <i class="fas fa-chevron-down float-right ml-auto"></i>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
        <div class="card-body text-dark">
            <p>We're so glad you're excited to celebrate with us! However, we've decided to do things a little differently. We won't be having a traditional bridal party. With so many amazing friends and family members, we couldn't possibly choose just a few favorites!</p>
            <p>Instead, our families will be taking on some of the traditional roles, such as holding the bouquet, so we can all share in the joy of the day.</p>
            <p>This means you don't need to worry about preparing for any specific bridal party responsibilities. Just come ready to celebrate, dance, and make some unforgettable memories with us!</p>       
        </div>
      </div>
    </div>
</div>
<div class="accordion">
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>Are gifts expected, or is there a special way to celebrate with you?</strong>
            <i class="fas fa-chevron-down float-right ml-auto"></i>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
        <div class="card-body text-dark">
            <p>We're so grateful for your thoughtfulness! To be honest, we'd prefer not to receive physical gifts. Instead, we'd be delighted if you could contribute to our honeymoon fund. This will help us create unforgettable memories on our dream trip!</p>
            <p>If you still wish to give a physical gift, we've created a very small, curated <a href="https://www.myregistry.com/wedding-registry/henry-lin-and-emily-depaoli-edmonton-ab/4652734" target="_blank">registry</a> with a few special items (password: lin-depaoli.space). However, please know that your presence and celebration with us means the world, and no gift is required or expected.</p>
        </div>
      </div>
    </div>
</div>
