<style>
    #link-rsvp:link, #link-rsvp:visited {
      background-color: rgb(65, 162, 78);
      color: white;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin-bottom: 1rem;
      margin-top: 1rem;
      border-radius: 10px;
    }
    
    #link-rsvp:hover, #link-rsvp:active {
      background-color: rgb(83, 155, 92);
    }

    #rsvp-container {
        padding: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>
<div class="container" id="rsvp-container">
    <div class="card d-flex mb-4 box-shadow">
        <div class="row text-dark mt-2">
            <strong>Thanks for waiting! We have our RSVP form ready now! Please complete this form before June 5th 2025 as we will need to have final numbers at that time. If you plan on bringing guests or have any questions, please also send us a message!</strong>
        </div>
        <div>
            <center><a id="link-rsvp" href="https://forms.gle/5bgLihNQQwjFWEk97" target="_blank">PLEASE CLICK HERE TO RSVP</a></center>
        </div>
    </div>
</div>
