<style>
    .venue-img {
        width: 100%;
        height: auto;
        border-radius: 10px; /* Make the borders rounded */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        display: inline-block;
        padding: 0;
    }
    .card .row {
    margin: 0 1em; /* remove any horizontal margins */
    }

    .card .col-6, .card .col-lg-8 {
    padding: 0em; /* remove any horizontal padding */
    }

    #venue-info-container {
        padding: 0;
        margin: 2em 0;
    }

    .right-text {
        padding-left: 2em !important;
    }

    #fus-card {
        margin-bottom: 1rem;
    }

    #gardens-card {
        padding-right: 1em !important;
    }

</style>
<div class="container" id="venue-info-container">
    <div class="card d-flex mb-4 box-shadow">
        <div class="row text-dark mt-2">
            <h5><strong>University of Alberta Botanic Garden</strong></h5>
        </div>
        <div class="row flex-column flex-lg-row text-dark mt-1">
            <div class="col-lg-8" id="gardens-card">
                <p>We're thrilled to celebrate with you at the beautiful University of Alberta Botanic Garden! Here are some important details to help you plan your day:</p>

                <h6><strong>Ceremony Details:</strong></h6>
                <ul>
                    <li><strong>Ceremony Start Time:</strong> 1:30 pm (sharp!) though we recommend you arrive earlier to explore the gardens! </li>
                    <li><strong>Location:</strong> Alpine Garden <span class="text-muted">(Rain Backup: Lilac Tent)</span> Signs will be up starting ~12:30pm to direct guests towards the ceremony area</li> 
                    <li><strong>Transportation:</strong> We will be hiring a charter bus to help bring people from Downtown Edmonton to the Ceremony venue. Additional information about the charter bus will be available by the RSVP date</li>
                    <li><strong>Parking:</strong> Free. Please allow 15 minutes to walk from the parking lot to the ceremony site. We recommend wearing comfortable shoes to enhance your experience.</li>
                </ul>
            </div>
            <img class="card-img-right col-lg-4 venue-img d-none d-lg-block" alt="Thumbnail [250x250]" src="assets/css/alpine-garden-2.jpg" data-holder-rendered="true">
        </div>
        <div class="row text-dark">
            <h6><strong>Garden Hours and Admission:</strong></h6>
            <p>As our guest, your admission to the Garden is included in our wedding package! Feel free to explore the beautiful surroundings before or after the ceremony during regular garden hours.</p>
    
            <p>We can't wait to celebrate with you at the Botanic Garden!</p>
        </div>
    </div>
   
    <div class="card d-flex mb-4 box-shadow">
        <div class="row text-dark mt-2">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 right-text"><h5><strong>Fu's Repair Shop - Double Dragon</strong></h5></div>
        </div>
        <div class="row flex-column flex-lg-row text-dark mt-1" id="fus-card">
            <img class="card-img-left col-4 venue-img d-none d-lg-block" alt="Thumbnail [250x250]" src="assets/css/fus-2.jpg" data-holder-rendered="true">

            <div class="col-8 right-text">
                <p>Get changed, have a nap, recharge! A few short hours after our ceremony is our reception at Fu's Repair Shop! </p>
                <h6><strong>Reception Details:</strong></h6>
                <h7>Coming Soon!</h7>
            </div>
        </div>
    </div>
  </div>