<style>
    .venue-img {
        width: 100%;
        height: auto;
        border-radius: 10px; /* Make the borders rounded */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        display: inline-block;
        padding: 0;
    }
    .card .row {
    margin: 0 1em; /* remove any horizontal margins */
    }

    .card .col-6, .card .col-lg-8 {
    padding: 0em; /* remove any horizontal padding */
    }

    #venue-info-container {
        padding: 0;
        margin: 2em 0;
    }

    .right-text {
        padding-left: 2em !important;
    }

    #fus-card {
        margin-bottom: 1rem;
    }

    #gardens-card {
        padding-right: 1em !important;
    }

</style>
<div class="container" id="venue-info-container">
    <div class="card d-flex mb-4 box-shadow">
        <div class="row text-dark mt-2">
            <h5><strong>University of Alberta Botanic Garden</strong></h5>
        </div>
        <div class="row flex-column flex-lg-row text-dark mt-1">
            <div class="col-lg-8" id="gardens-card">
                <p>We're thrilled to celebrate with you at the beautiful University of Alberta Botanic Garden! Here are some important details to help you plan your day:</p>

                <h6><strong>Ceremony Details:</strong></h6>
                <ul>
                    <li><strong>Ceremony Start Time:</strong> 1:30 pm (sharp!) though we recommend you arrive earlier to explore the gardens! </li>
                    <li><strong>Location:</strong> Alpine Garden <span class="text-muted">(Rain Backup: Lilac Tent)</span> Signs will be up starting ~12:30pm to direct guests towards the ceremony area</li> 
                    <li><strong>Transportation:</strong> We will be hiring a charter bus to help bring people from Downtown Edmonton (<a href="https://maps.app.goo.gl/RXvxGuNM4btnTW2K8" target="_blank">10149 106 St NW Parking</a>) to the Ceremony venue. Please let us know if you will be using our bus in the RSVP form!</li>
                    <li><strong>Parking:</strong> Free. Please allow 15 minutes to walk from the parking lot to the ceremony site. We recommend wearing comfortable shoes to enhance your experience.</li>
                    <li><strong>Dress Code:</strong> As the ceremony will be held outdoors we encourage relaxed clothing, but please no shorts or sneakers. We recommend flowy dresses, light fabrics, and button-down shirts and pants. Cowboy boots/hats and denim are welcome. <p><strong>Please do not wear white, as the bride's dress will be white for the ceremony</strong></p></li>
                </ul>
            </div>
            <img class="card-img-right col-lg-4 venue-img d-none d-lg-block" alt="Thumbnail [250x250]" src="assets/css/alpine-garden-2.jpg" data-holder-rendered="true">
        </div>
        <div class="row text-dark">
            <h6><strong>Garden Hours and Admission:</strong></h6>
            <p>As our guest, your admission to the Garden is included in our wedding package! Feel free to explore the beautiful surroundings before or after the ceremony during regular garden hours.</p>
    
            <p>We can't wait to celebrate with you at the Botanic Garden!</p>
        </div>
    </div>
   
    <div class="card d-flex mb-4 box-shadow">
        <div class="row text-dark mt-2">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 right-text"><h5><strong>Fu's Repair Shop - Double Dragon</strong></h5></div>
        </div>
        <div class="row flex-column flex-lg-row text-dark mt-1" id="fus-card">
            <img class="card-img-left col-4 venue-img d-none d-lg-block" alt="Thumbnail [250x250]" src="assets/css/fus-2.jpg" data-holder-rendered="true">

            <div class="col-8 right-text">
                <p>Get changed, have a nap, recharge! A few short hours after our ceremony is our reception at Fu's Repair Shop! </p>
                <h6><strong>Reception Details:</strong></h6>
                <ul>
                    <li><strong>Dress code:</strong> As we are now indoors for the evening, feel free to dress more formally for the evening or stay in the same clothes. <p><strong>Please do not wear red, as the bride's dress will be red for the reception</strong>, please send us a message if you are unsure! </p></li>
                    <li><strong>5:00-6:00 pm Arrival & Cocktail Hour:</strong> Have a few drinks and snacks! Alcoholic and non-alcoholic options are available at our venue and we start everyone off with 1 drink ticket, additional drinks will be 10$ each at the bar. </li>
                    <li><strong>6:30 pm Dinner Start:</strong> We will be serving many of our favorite dishes from Fu's Repair Shop buffet style.</li> 
                    <li><strong>Post-Dinner:</strong> Speeches, bouquet toss, and dessert! Come ready to party as we will be sure to do some dancing!</li>
                </ul>
                <div class="row text-dark">
                    <p>We have the entire Double Dragon venue booked out until closing time (2:00 am), so feel free to stay as long as you'd like! Please also feel free to leave at any point when you are tired or ready to head to sleep!</p>
            
                    <p><strong>Disclaimer:</strong> After 9:00 pm the venue will not be able to accomodate minors (under 18 years of age), but we will make sure the important events are finished before that time!</p>
                </div>
            </div>
        </div>
    </div>
  </div>